body{
    min-height:900px;
    
}
section{
    min-height:850px;
    padding: 1rem;
}
#login{
    max-width: 450px;
}
#hed{
    margin:0 0 !important;
}
nav{
    margin: 0;
}
#hed .form{
    display: inline-block !important;
}
/*#hed div.item{
    display: inline-block !important;
}*/

body > .grid {
    height: 100%;
}
header .image {
    margin-top: -100px;
}
h2.blue.header{
    margin-top:2em;
}
footer{

    margin-top:3em !important;
}
